body {
    font-family: Arial, sans-serif;
    background-color: #73BABA;
    text-align: center;
    margin-top: 80px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #555;
    font-size: 16px;
}
