body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #11998e, #38ef7d);

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}

h1 {
    color: white;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 320px;
    padding: 12px;
    font-size: 14px;

    border: none;
    border-radius: 8px;

    /* Светло-зелёные кнопки */
    background: linear-gradient(135deg, #ffffff, #d4fc79);
    color: #0f5132;

    cursor: pointer;
    transition: all 0.3s ease;
}

/* Наведение */
button:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #bbf7d0, #86efac);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Нажатие */
button:active {
    transform: scale(0.97);
}
